<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/homepage"> Home </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/createtrip"> Create Trip </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/payment"> Trip Payments </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="logoutbtn"> Log out </a>
  </li>
</ul>


<div class="background">
  <div class="header"> Public Wall </div>
  <br>

  <div class="forum">
<p>
  {{#each trips as |trip| }}
</p>
  <h2>{{trip.trip_name}}</h2>

{{#each trip as |account| }}
<h3>{{account.username}}</h3> 
{{/each}}

<div>
  Activities:
  {{#each trip.activities as |activity|}}
 {{activity.activity}}
  Date: {{activity.activity_date}}
  Cost: {{activity.activity_cost}}
  {{/each}}
</div>

<div>
  Flight:
  {{#each trip.flights as |flight|}}
  {{flight.airline}}
  Date: {{flight.flight_date}}
  Flight time: {{flight.flight_time}}
  Seat number: {{flight.seat_number}}
  Cost: {{flight.flight_cost}}
  {{/each}}
</div>

<div>
  Hotel:
  {{#each trip.hotels as |hotel|}}
  {{hotel.hotel}}
  Room number: {{hotel.room_number}}
  Check-in date: {{hotel.checkin_date}}
  Check-out date: {{hotel.checkout_date}}
  Room bill: {{hotel.room_bill}}
  {{/each}}
</div>

<div>
  Restaurant:
  {{#each trip.restaurants as |restaurant|}}
  {{restaurant.restaurant}}
  Dining date: {{restaurant.dining_date}}
  Bill amount: {{restaurant.bill_amount}}
  {{/each}}
</div>

<div>
  Transporation:
  {{#each trip.transportation as |transportation|}}
  {{transportation.transportation}}
  Ride date: {{transportation.ride_date}}
  Ride cost: {{transportation.ride_cost}}
  {{/each}}
</div>

{{/each}}
  </div>
  </div>