<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href="/createtrip"> Create Trip </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Upcoming Trips </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"> Past Trips </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/account"> Account </a>
  </li>
</ul>
 
  <h2> ITENERARY </h2>
  <br>
  {{#each trips as |trip| }}
  <h3>{{trip.trip_name}}</h3>

  Activities:
  {{#each trip.activities as |activity|}}
  <div>{{activity.activity}}</div>
  Date: <div>{{activity.activity_date}}</div>
  Cost: <div>{{activity.activity_cost}}</div>
  {{/each}}
  <br>

  Flight:
  {{#each trip.flights as |flight|}}
  <div>{{flight.airline}}</div>
  Date: <div>{{flight.flight_date}}</div>
  Flight time: <div>{{flight.flight_time}}</div>
  Seat number: <div>{{flight.seat_number}}</div>
  Cost: <div>{{flight.flight_cost}}</div>
  {{/each}}
  <br>

  Hotel:
  {{#each trip.hotels as |hotel|}}
  <div>{{hotel.hotel}}</div>
  Room number: <div>{{hotel.room_number}}</div>
  Check-in date: <div>{{hotel.checkin_date}}</div>
  Check-out date: <div>{{hotel.checkout_date}}</div>
  Room bill: <div>{{hotel.room_bill}}</div>
  {{/each}}
   <br>

  Restaurant:
  {{#each trip.restaurants as |restaurant|}}
  <div>{{restaurant.restaurant}}</div>
  Dining date: <div>{{restaurant.dining_date}}</div>
  Bill amount: <div>{{restaurant.bill_amount}}</div>
  {{/each}}
   <br>

  Transporation:
  {{#each trip.transportation as |transportation|}}
  <div>{{transportation.transportation}}</div>
  Ride date: <div>{{transportation.ride_date}}</div>
  Ride cost: <div>{{transportation.ride_cost}}</div>
  
  paid in full?{{#if transportation.paid_in_full}}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
      <label class="form-check-label" for="flexCheckChecked">
        {{transportation.paid_in_full}}
      </label>
    </div>
  {{else}}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        {{transportation.paid_in_full}}
      </label>
    </div>
  {{/if}}
  {{/each}}


{{/each}}